.base {
  border: 0;
  cursor: pointer;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0.2px;
  line-height: 22px;
  padding: 20px 30px;
  text-align: center;
  transition: 300ms;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  svg {
    margin-right: 10px;
    height: 40px;
    width: 40px;
  }
}

.black {
  background: #111111;
  border: 2px solid black;
  color: white;

  &:hover {
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.5);
  }
}

.white {
  background: white;
  border: 2px solid white;
  color: #111111;

  &:hover {
    @media (min-width: 400px) {
      box-shadow: 6px 6px 0 rgba(255, 255, 255, 0.5);
    }
  }

}

.outline {
  background: transparent;
  border: 2px solid #111111;
  color: #111111;

  &:hover {
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.5);
  }
}


