.wrapper {
  align-items: center;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
  @media (min-width: 992px) {
    margin-top: 150px;
  }

}

$paddingsV: 60px;
$paddingsH: 96px; // TODO: move to global variables

.formWrapper {
  align-items: center;
  border-bottom: 2px solid #2B2B2B;
  display: flex;
  padding: 15px;
  flex-direction: column;
  width: 100%;
  @media (min-width: 992px) {
    padding: $paddingsV 0;
    width: calc(100% - #{$paddingsH * 2});
    flex-direction: row;
  }

  h4 {
    color: white;
    font-size: 22px;
    margin: 0 0 15px;
    @media (min-width: 992px) {
      margin: 0;
      width: 30%;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    @media (min-width: 550px) {

      flex-direction: row;
    }
    @media (min-width: 992px) {
      width: 70%;
    }
    input {
      background: transparent;
      border: 2px solid white;
      color: white;
      font-size: 22px;
      flex-grow: 1;
      padding: 10px;
      @media (min-width: 550px) {
        padding: 10px 30px;
      }
      &:focus {
        outline: none;
      }
    }
    button {
      margin-top: 20px;
      @media (min-width: 550px) {
        margin-top:0;
      }
    }
  }
}

.menus {
  border-bottom: 2px solid #2B2B2B;
  display: flex;
  padding: 15px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  @media (min-width: 720px) {
    flex-direction: row;
  }
  @media (min-width: 992px) {
    width: calc(100% - #{$paddingsH * 2});
    padding: $paddingsV 0;
  }
}

.mainMenu {
  font-size: 36px;
  font-weight: 500;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  @media (min-width: 720px) {
    text-align: left;
    width: calc(100% / 3);
  }

  li {
    margin-bottom: 16px;

    a {
      &:hover {
        border-bottom: 4px solid white;
      }
    }
  }
}

.churchLogo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 15px 0;
  @media (min-width: 720px) {
    margin: 0;
    width: calc(100% / 3);
  }

  svg {
    height: 145px;
    width: 100px;
  }
}

.subMenus {
  display: flex;
  @media (min-width: 720px) {
    width: calc(100% / 3);
  }
}

.subMenuWrapper {
  width: 50%;
  &:nth-child(2) {
    text-align: right;
    @media (min-width: 720px) {
      text-align: left;
    }
  }
}

.subMenuTitle {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 32px;
}

.subMenu {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    font-size: 16px;
    margin-bottom: 16px;

    a {
      &:hover {
        border-bottom: 2px solid white;
      }
    }
  }
}

.copyright {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  @media (min-width: 720px) {
    flex-direction: row;
    padding: $paddingsV 0;
    width: calc(100% - #{$paddingsH * 2});
  }
}

.copyrightText {
  color: #474747;
}

.copyrightSocials {
  list-style: none;
  display: flex;
  padding: 0;
  li {
    &:not(:last-child) {
      margin-right: 30px;
    }
    a {
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }

  svg {
    height: 32px;
    width: 32px;
  }
}
