.menu {
  align-items: center;
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  height: 280px;
  width: 100%;

  ul {
    list-style: none;

    li {
      display: inline-block;
      font-family: "Helvetica Neue";
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 49px;
      letter-spacing: 0.4375px;
      margin: 0 40px;
      text-align: center;

      a:hover {
        text-decoration: underline;
      }

      &:not(:last-child):after {
        content: '|';
        position: relative;
        left: 40px;
      }
    }
  }
}
