.sundayService {
  background: url('/images/sunday-service.png') center / cover;
  color: white;
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    text-align: center;
  }

  h2 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.2px;
    margin: 0;
    margin-bottom: 16px;
  }

  p {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 50px;
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
  }

  button {
    border: 0;
    border-radius: 0;
    background: white;
    width: 311px;
    height: 74px;
    left: 565px;
    top: 1464px;
    font-weight: 500;
    font-size: 18px;
  }
}
